<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3zK-c4OmjB2SvOPTxBmmM46l8vOOwMWU</string>
	<key>GCM_SENDER_ID</key>
	<string>848247824445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dtrognn.SpendSmart</string>
	<key>PROJECT_ID</key>
	<string>spendsmart-6dd40</string>
	<key>STORAGE_BUCKET</key>
	<string>spendsmart-6dd40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848247824445:ios:888edaf60fab171e5e0a54</string>
</dict>
</plist>